#TosAI {
font-family: sans-serif;
text-align: center;
color: white;
}
button.Source{
    font-family: sans-serif;
    text-align: center;
    color: white;
}
h1{
    font-family: sans-serif;
    text-align: center;
    color: white;  
}
body{
    background-color: rgb(11, 134, 138);

}

